.main-track-container {
	margin-top: 20px;
}

.main-track-header {
	position: relative;
	height: 50px;
	padding: 10px 0 0 0;
	margin-bottom: 10px;

	.title {
		font-size: 22px;
	}
	.delete-main-track {
		position: absolute;
		right: 50px;
	}
}



.main-track-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 10px 0;
}


circle {
	stroke-width: 8px;
	transform-origin: center;

	&.progress-background {
		transform: scale(0.9);
		stroke: rgba(255, 205, 49, 0.5);
	}

	&.progress-bar {
		/* 旋转90度的目的是为了调整起始点 */
		transform: scale(0.9) rotate(-90deg);
		stroke: #ffcd32;
		stroke-dasharray: 10 5;
	}
}

.text {
	text-anchor: middle;
	dominant-baseline: middle;
}

.box-check {
	position: relative;
	display: inline-block;
	border: 2px solid #eee;
	height: 154px;
	width: 154px;
	padding-top: 25px;
	text-align: center;
	border-radius: 3px;

	.check {
		position: absolute;
	}

	&.active {
		border: 2px solid aqua;

		.selectClick {
			position: relative;
		}

		.check {
			visibility: visible;
			top: 5px;
			right: 5px;
			font-size: 18px;
			color: aqua;
		}

		.delete {
			visibility: visible;
			position: absolute;
			top: 0px;
			left: 150px;
			border: 1px solid pink;
		}
	}
}

.deleteAll {
	visibility: hidden;

	.box-check.active {
		.check {
			visibility: hidden;
		}

		.delete {
			visibility: hidden;
		}
	}
}

.check {
	visibility: hidden;
}

.delete {
	visibility: hidden;
}