circle {
  stroke-width: 8px;
  transform-origin: center;

  &.progress-background {
    transform: scale(.9);
    stroke: rgba(255, 205, 49, 0.5);
  }

  &.progress-bar {
    /* 旋转90度的目的是为了调整起始点 */
    transform: scale(0.9) rotate(-90deg);
    stroke: #ffcd32;
    stroke-dasharray: 10 5;
  }
}

.text {
  text-anchor: middle;
  dominant-baseline: middle;

  svg {
    width: 50px;
    height: 50px;
  }
}

.box-check {
  position: relative;
  display: inline-block;
  border: 2px solid transparent;
  height: 154px;
  width: 154px;
  padding-top: 25px;
  text-align: center;
  border-radius: 3px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 20px;
  background: linear-gradient(145deg, #abb3ba, #cbd5dd);
  box-shadow: 20px 20px 60px #a2a9b0,
    -20px -20px 60px #dbe5ee;

  &.active {
    border: 3px solid aqua;
    background: linear-gradient(145deg, #cbd5dd, #abb3ba);
    box-shadow: 20px 20px 60px #a2a9b0,
      -20px -20px 60px #dbe5ee;

    .selectClick {
      position: relative;
    }

    .check {
      visibility: visible;
      color: #000;
    }
  }
}



.check {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 20px;
  color: #2d4e76;
  cursor: pointer;
}

.delete {
  visibility: hidden;
}