.ant-layout {
  background: transparent;
}

.ant-layout-sider {
  position: fixed;
  left: 0;
  width: 400px !important;
  max-width: 400px !important;
  min-width: 400px !important;
  overflow: hidden;
  height: 100vh;
  background: transparent;
}

.site-layout {
  height: 100vh;
  margin-left: 450px;
  background: transparent;
}

#homePage {
  background-color: #c2ccd4;
}