.main-track-container {
	margin-top: 20px;
}

.main-track-header {
	position: relative;
	height: 50px;
	padding: 10px 0 0 0;
	margin-bottom: 10px;

	.title {
		font-size: 22px;
	}

	.delete-main-track {
		position: absolute;
		right: 50px;
	}
}

.main-track-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 10px 0;

}