.select-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
  margin: 0;
  padding: 0;
  border: solid 2px black;
  border-radius: 10px;
}

.panel-head {
  height: 25px;
  border-bottom: black 2px solid;
  padding: 0px 10px;
}

.panel-head .select-instrument {
  float: left;
}

.panel-head .btn-close {
  border: none;
  background-color: white;
  float: right;
  margin-top: 1px;
  line-height: 23px;
}

.panel-body {
  height: 200px;
  border-bottom: black 2px solid;
}

.panel-body input {
  display: block;
  height: 100px;
  width: 100px;
}

.panel-body img {
  height: 100px;
  width: 100px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 15px;
}

.panel-foot {
  height: 25px;
  padding: 0 10px;
}

.panel-foot .cancel {
  float: left;
}

.panel-foot .comfirm {
  float: right;
}

.panel-foot button {
  display: block;
  font-size: 20px;
}