$container-border-color: #c2ccd4;
$white-box-color: #393E46;
$black-box-color: #000;
$white-box-border: 2px solid $white-box-color;
$black-box-border: 2px solid $black-box-color;
$ground-color: #c2ccd4;
$box-color: linear-gradient(145deg, #d0dae3, #afb8bf);

.background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $ground-color;
}

.footer {
  margin: 20px 0 5px;
}

.icon {
  width: 24px;
}

.piano {
  margin: 0 100px;
  background: linear-gradient(-65deg, #000, #222, #000, #666, #222 75%);
  border-top: .1rem solid #282828;
  -webkit-box-shadow: inset 0 -1px 1px hsla(0, 0%, 100%, .5), inset -0.4rem 0.4rem #282828;
  box-shadow: inset 0 -1px 1px hsla(0, 0%, 100%, .5), inset -0.4rem 0.4rem #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  padding: 0 1.5% 1.2% 1.5%;
}

.boxes-window {
  margin: 0 100px;
  max-height: 62vh;
  overflow: auto;
}

.boxes-window::-webkit-scrollbar {
  width: 10px;
  height: 50px;
}

.boxes-window::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.boxes-window::-webkit-scrollbar-thumb {
  border-radius: 18px;
  background-color: rgba(0, 0, 0, .12);
}

.boxes-window::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, .25);
}

.boxes-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 11vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  margin: 0px 0 15px;
  padding: 0 1.5%;

  .box-container {

    &:nth-child(7n + 1) {
      margin-right: 1.5%;

      .box-white {
        border-right: $white-box-border !important;
      }

    }

    &:nth-child(7n + 2) {
      margin-left: 1.5%;
    }
  }
}

@media screen and (max-width: 1000px) {

  /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  .piano {
    margin: 0 10px;
  }
}

.piano-key {
  // color: blue;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 .1rem;
  max-width: 8.8rem;
  position: relative;
}

.piano-key__white {
  display: flex;
  flex-direction: column-reverse;
  background-color: #fff;
  // background: linear-gradient(-30deg, #f8f8f8, #fff);
  // -webkit-box-shadow: inset 0 1px 0 #fff, inset 0 -1px 0 #fff, inset 1px 0 0 #fff, inset -1px 0 0 #fff, 0 4px 3px rgba(0, 0, 0, .7), inset 0 -1px 0 #fff, inset 1px 0 0 #fff, inset -1px -1px 15px rgba(0, 0, 0, .5), -3px 4px 6px rgba(0, 0, 0, .5);
  height: 100%;
  position: relative;
  transition: all 0.3s;
  border-top: solid 2px #fff;
}

.piano-key__white.active {
  box-shadow: 0 4px 3px rgba(0, 0, 0, .7), inset 0 -1px 0 #fff, inset 1px 0 0 #fff, inset -1px -1px 15px rgba(0, 0, 0, .5), ;
  // background: linear-gradient(-30deg, rgb(47, 101, 252), #f8f8f8);
  border-top: solid 2px rgb(44, 88, 234);
}

.piano-key__black.active {
  border-color: #2a2a2a #0a0a0a #0a0a0a #2a2a2a;
  border-width: 0rem .4rem .4rem;
  border-color: #101010;
  background-color: #101010;
  border-top: solid 2px rgb(44, 88, 234);
  // box-shadow: inset 5px 5px 10px #0a0a0a,
  //   inset -5px -5px 10px #2a2a2a;
}

.piano-key__black {
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(-20deg, #222, #000, #222);
  // -webkit-box-shadow: inset 0 -1px 2px hsla(0, 0%, 100%, .4), 0 2px 3px rgba(0, 0, 0, .4);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
  border-width: 0rem .4rem .8rem;
  border-style: solid;
  border-color: #666 #222 #111 #555;
  height: 75%;
  left: 100%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0;
  transition: all 0.3s;
  width: 85%;
  z-index: 1;
  border-top: solid 2px #000;
}

.piano-note {
  color: #000;
  font-size: 6px;
  text-align: center;
  height: 20px;
  user-select: none;
  cursor: default;
  font-family: 'Microsoft YaHei';
}

.piano-note::selection {
  background: transparent;
}

.piano-note::-webkit-selection {
  background: transparent;
}

.piano-note::-moz-selection {
  background: transparent;
}

.piano-key__black .piano-note {
  color: #fff;
}

.box-container {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 8.8rem;
  cursor: pointer;
}

.box-white {
  display: flex;
  flex-direction: column-reverse;
  height: 97%;
  position: relative;
  border: $white-box-border;
  border-right: none;
  background: $box-color;
  transition: all 0.2s;
}

.box-container:last-child .box-white {
  border-right: $white-box-border;
}

.box-black {
  display: flex;
  flex-direction: column-reverse;
  border: $black-box-border;
  height: 65%;
  left: 100%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0;
  width: 70%;
  z-index: 1;
  background: $box-color;
  border-top: $white-box-border;
  transition: all 0.2s;
}

.box-note {
  color: #000;
  font-size: 6px;
  text-align: center;
}

.box-white.selected {
  background: #fff;
  // border-left-color: #fff;
}

.box-black.selected {
  background: linear-gradient(90deg, #000, #000);
}

.box-order {
  position: absolute;
  width: 20px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.step-container {
  position: relative;
  height: 10vh;

  .ant-btn {
    position: absolute;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;

    svg {
      path {
        stroke-width: 20
      }
    }
  }

  .btn-warning {
    background: #FEA756 !important;
    border-color: #FEA756 !important;
    color: white !important;
  }

  .btn-warning:hover {
    background: #fab87a !important;
    border-color: #f8ba7f !important;
    color: white !important;
  }

  .btn-warning:active {
    background: #FEA756 !important;
    border-color: #FEA756 !important;
    color: white !important;
  }

  .btn-success {
    background: #5FD45F !important;
    border-color: #5FD45F !important;
    color: white !important;
  }


  .btn-success:hover {
    background: #7ee47e !important;
    border-color: #7ee47e !important;
    color: white !important;
  }

  .btn-success:active {
    background: #5FD45F !important;
    border-color: #5FD45F !important;
    color: white !important;
  }

  .ant-btn-text,
  .btn-success {
    width: auto;
    transition: all 0.2s;
    height: 55px;
    font-size: 28px;
    font-weight: bolder;

    // text-shadow: 2px 2px #fff;
    text-shadow: 3px 3px 5px #9aa2a8,
      -3px -3px 5px #dfebf4;

    svg {
      transition: all 0.2s;
      margin-right: 0px;
      margin-left: 0px;
    }
  }

  .ant-btn-text:hover,
  .btn-success:hover {
    letter-spacing: 5px;
    // transform: scale(1.5);
    text-shadow: 3px 3px 5px #848a8f,
      -3px -3px 5px #dfebf4;
    background: #c2ccd4;
    // box-shadow: inset 8px 8px 16px #a5adb4,
    //   inset -8px -8px 16px #dfebf4;

    svg {
      margin-right: 5px;
      margin-left: -2px;
    }
  }
}

.goback,
.finish,
.middle {
  position: absolute;
  top: 2%;
  transform: translateY(50%);
}

.goback {
  left: 2%;
}

.finish {
  right: 2%;
}

.middle {
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}